/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
.lein-*
profiles.clj
/.env
.nrepl-port
/.shadow-cljs
/log
*.log
.cpcache
.gitignore.swp
.gitignore.swo
/src/gen
*.iml
.shadow-cljs
.idea
.nrepl-*
.DS_Store
.hgignore
.hg/
resources/public/js/cljs-runtime
resources/public/js/manifest.edn
*.swp
*.swo
/.cpcache
.cpcache
*a.out
__data
*.!.*DS_Store
*.DS_Store
.rebel_readline_history
*.crt
*.key
