{:http/handler {}
 :http/server  {:port 3000 :handler #ig/ref :http/handler}
 :db/node      {:xtdb/tx-log 
                {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
                            :db-dir "__data/tx-log"
                            :sync? true}}

                :xtdb/document-store 
                {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
                            :db-dir "__data/doc-store"
                            :sync? true}}

                :xtdb/index-store    
                {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
                            :db-dir "__data/index-store"
                            :sync? true}}}}
